p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(100, 100, 100);
}

.label {
  font-size: 16px;
  margin-bottom: 6px;
}

.input-email {
  font-size: 16px;
  width: 384px;
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(100, 100, 100);
  padding-left: 8px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 20px;
}

.required {
  color: red;
}

.disclaimer {
  margin-bottom: 16px;
  font-size: 14px;
}

.button-agree {
  background-color: rgb(10, 105, 194);
  color: white;
  border: none;
  font-weight: bold;
  width: 400px;
  font-size: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: opacity 0.15s, box-shadow 0.15s;
}

.button-agree:hover {
  opacity: 0.9;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.15);
}

.button-agree:active {
  opacity: 0.6;
}
